@inherits LayoutComponentBase


<SidebarMenu />


<div class="nk-wrap">

    <div class="nk-header nk-header-fixed is-light" style="height:65px;">
        <div class="container-fluid">
            <div class="nk-header-wrap">
                <div class="nk-menu-trigger d-xl-none ms-n1">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"><em class="icon ni ni-menu"></em></a>

                </div>
                <div class="nk-header-brand d-xl-none">
                    <a href="html/index.html" class="logo-link">

                    </a>
                </div>

                <div class="nk-header-tools">
                    <ul class="nk-quick-nav">


                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                <div class="user-toggle">
                                    <div class="user-avatar sm">
                                        <em class="icon ni ni-user-alt"></em>
                                    </div>
                                    <div class="user-info d-none d-md-block">

                                        <div class="user-name dropdown-indicator">
                                            @*      @if (!string.IsNullOrEmpty(givenName) && !string.IsNullOrEmpty(surname))
                                            {
                                            <span>@givenName @surname</span>
                                            } *@
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                                <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                    <div class="user-card">
                                        <div class="user-avatar">
                                            <span></span>
                                        </div>
                                        <div class="user-info">


                                            @* <span class="lead-text">@context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.GivenName)!.Value @context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Surname)!.Value</span> *@

                                            @*     <span class="lead-text"> @context.User.Identity!.Name</span>

                                            <span class="sub-text">  @context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email)!.Value</span> *@


                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-inner">
                                    <ul class="link-list">
                                        <li><a href="logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul><!-- .nk-quick-nav -->
                </div>
            </div>
        </div>
    </div>
 
    
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    @Body


                </div>
            </div>
        </div>
    </div>

    <Footer />

</div>
