@page "/ResetPasswordDetails/{ID}"

<div class="nk-block">
    <div class="row g-gs">
        <div class="col-lg-12">
            <div class="card card-bordered card-full">
                <div class="card-inner">
                    <div class="card-head">
                        <h5 class="card-title">FScan Logs Details</h5>
                    </div>
                    <EditForm Model="@response" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator/>

                        <div class="row g-4">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <InputText @bind-Value="@response.Name" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">ID</label>
                                    <InputText @bind-Value="@response.ID" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">Group Name</label>
                                    <InputText @bind-Value="@response.GroupName" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">Access Type</label>
                                    <InputText @bind-Value="@response.AccessType" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">Bankcom Email</label>
                                    <InputText @bind-Value="@response.BankcomEmail" class="form-control" />
                                </div>
                            </div>
                 
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button class="btn btn-primary" typeof="submit">Submit</button>

                                        <button @onclick="BackToListAsync" class="btn btn-outline-secondary">Back to list</button>

                                    </div>
                                   
                                </div>

                            </div>

                        </div>
                    </EditForm>

                    @if (isLoading)
                    {
                        <div class="modal fade show transparent-modal" tabindex="-1" style="display: block;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <div class="spinner-border text-primary" style="width: 5rem;height: 5rem; border-width: 0.5em;" role="status">
                                        </div>
                                        <p>Loading, please wait...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-backdrop fade show"></div>
                    }
                </div>
              
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public string ID { get; set; }

    private ResetPasswordDetailsDTO response = new();
    private PasswordResetRequest request = new();
    bool isLoading = false;

    // response = await UserService.FScanLogsDetailsAsync(request);

    protected override async Task OnInitializedAsync()
    {
        response = await UserService.ResetPasswordDetailsAsync(ID);
    }


    public async Task HandleValidSubmit()
    {
        isLoading = true;
        StateHasChanged();
        request.BankcomEmail = response.BankcomEmail;
        request.ID = response.ID;
        var data = await UserService.ResetPasswordAsync(request);
        isLoading = false;
        if (data.Flag)
        {
            toastService.ShowSuccess(data.Message);
        }
        else
        {
            toastService.ShowError(data.Message);
        }
    }

    public async Task BackToListAsync()
    {
        Navigation.NavigateTo("/ResetPassword");
    }
}
